/*
Biznobo Custom CSS
Author: Biznobo
Updated: Jan. 27th, 2016
*/


/*==============================
            Body
================================*/

body {
    color: #4a4a4a;
}

/*==============================
            Nav Bar
================================*/

.nav-styling {
    background-color: #fff;
}
.nav-styling li a {
    color: #4a4a4a;
}
.nav-styling li a.btn {
    color: #fff;
}
.nav_brand_logo {
    width: 4.5em;
    margin: 0 20%;
    vertical-align: middle;
}
.side-nav .btn {
    height: 100%;
}
i.icon-gray {
    color: #616161;
}

/*==============================
            Header
================================*/

.header h6 {
    line-height: 1.75;
}
.header_graphic {
    width: 90%;
    margin: 8% auto 8% auto;
}
#header-btn {
    margin-bottom: 4%;
}
.header h6 span {
    color: #ff9800;
    font-weight: bold;
}

/*==============================
       Integration Section
================================*/

.integration-section {
    background-color: #F8F8F8;
}
.integration-section h5 {
    margin: 1.5em 0 1.5em 0;
}
#integration-logos {
    padding: 5em 0 1em 0;
}
.i-logo-size {
    width: 70%;
    margin: 0 15%;
}

/*==============================
       Feature Sections
================================*/

/*====== Section 1 =============*/

.section-1 {
    margin: 6em auto;
}

/*====== Section 2 =============*/

.section-2-bg {
    margin: 6em auto;
    padding: 6em 0 4.5em 0;
    background-color: #607D8B;
}
.section-2 {
    color: #fff;
}
#section-2-btn {
  margin: 2% 0 0 2%;
}
#bars-chart-img {
    margin: 0 25%;
}
@media (min-width: 0px) and (max-width: 980px) {
    #bars-chart-img {
        margin: 15% 25% 0 25%;
        width: 50%;
    }
}

/*====== Section 3 =============*/

.section-3 h4 {
  margin: 1% 0 8% 0;
}
.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 1%;
  margin-bottom: 0;
}
#section-3-btn {
  margin-top: 10%;
  margin-bottom: 8%;
}
.img-1 {
  width: 50%;
  margin: 0 25%;
}
.img-2 {
  width: 40%;
  margin: 7% 30%;
}
.img-3 {
  width: 40%;
  margin: 8% 30%;
}
/*==============================
           Footer
================================*/
